/* questrial-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/questrial-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/questrial-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/questrial-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/questrial-v18-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/questrial-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/questrial-v18-latin-regular.svg#Questrial") format("svg"); /* Legacy iOS */
}

.placeholder {
  background-color: #222;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
}

.placeholder img.loaded {
  opacity: 1;
}

.img-small {
  /* filter: blur(50px); */
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}
