/* carrois-gothic-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Carrois Gothic SC";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/carrois-gothic-sc-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/carrois-gothic-sc-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/carrois-gothic-sc-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/carrois-gothic-sc-v15-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/carrois-gothic-sc-v15-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/carrois-gothic-sc-v15-latin-regular.svg#CarroisGothicSC")
      format("svg"); /* Legacy iOS */
}

/* catamaran-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/catamaran-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/catamaran-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/catamaran-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/catamaran-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/catamaran-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/catamaran-v17-latin-regular.svg#Catamaran") format("svg"); /* Legacy iOS */
}
